<div class="bloc">
    <% if current_user && current_user.admin %>
        <h2>Edit Article</h2>
        <%= simple_form_for(@article) do |f| %>
            <%= f.input :title %>
            <%= f.input :content %>
            <br>
            <%= f.button :submit, "Submit", class: "btn-admin" %>
        <% end %>
        <br>
        <%= link_to article_path(@article) do %>
            <button class="btn-admin">Back</button>
        <% end %>
    <% end %>
</div>