<%= render 'shared/header' %>

<div class="bloc">
    <% if current_user && current_user.admin %>
        <div class="admin-box">
            <%= link_to new_article_path do  %>
                <button class="btn-admin">New Article</button>
            <% end %>
        </div>
    <% end %>
    <div class="center mb1">
        <h2>Consultez nos derniers articles</h2>
    </div>
    <div class="grid">
        <% @articles.each do |article| %>
            <%= link_to article_path(article) do %>
                <div class="article-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= bgpic_placeholder(article) %>')">
                    <div class="preview-box">
                        <span  class="article-preview">
                        <i class="fa-solid fa-hourglass"></i>
                        ~ <%= article.content.body.to_s.gsub!(@re, '').split(" ").length/150 %> min <br>
                        <%= article.content.body.to_s.gsub!(@re, '').first(100) %>...</span>
                    </div>
                    <div class="title-box">
                        <p class="article-title"><%= article.title%></p>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>

    <%= render 'shared/newsletter'  %>

    <%= render 'shared/carousel'  %>
</div>