<%= render 'shared/header' %>

<div class="bloc">
    <% if current_user && current_user.admin %>
        <div class="admin-box">
            <%= link_to new_article_path do  %>
                <button class="btn-admin">New Article</button>
            <% end %>
        </div>
    <% end %>
    <div class="center mb1">
        <h2>Consultez nos derniers articles</h2>
    </div>
    <div class="grid">
        <% @articles.each do |article| %>
            <%= link_to article_path(article) do %>
                <div class="article-card">
                    <div class="preview-box">
                        <p  class="article-preview"><%= article.content.first(120) %>...</p>
                    </div>
                    <div class="title-box">
                        <p class="article-title"><%= article.title%></p>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>