<div class="bg-header">
        <div class="section-wrapper">
            <div class="header-text">
                <h1>FROM SCRATCH.</h1>
                <h4>Par Thibault Fourcade</h4>
                <p>Le podcast des <strong>entrepreneurs</strong> aguerris qui vous dévoile ce qu'ils referaient ou non s'ils devaient recommencer <strong>from scratch</strong>.</p>
                <br>
                <%= link_to "https://open.spotify.com/show/3XZcpjTULPMVmZNrAZ5MwR" do %>
                    <button class="yel-button">▶ Écouter</button>
                <% end %>
            </div>
            <div class="header-pic">
                <%= image_tag "Ship-cropped.png", alt: "fusée", class: "header-pic" %>
            </div>
        </div>

        <div class="wave1">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>

    </div>
    <div class="bloc-platf mt1">
        <p>S'abonner au podcast <i class="fa-solid fa-arrow-right-long"></i></p>
        <%= link_to "https://open.spotify.com/show/3XZcpjTULPMVmZNrAZ5MwR" do %>
            <i class="fa-brands fa-spotify"></i>
        <% end %>
        <%= link_to "https://podcasts.apple.com/us/podcast/from-scratch/id1590667398" do %>
            <i class="fa-brands fa-apple"></i>
        <% end %>
        <%= link_to "https://www.deezer.com/fr/show/3200822" do %>
            <i class="fa-brands fa-deezer"></i>
        <% end %>
        <%= link_to "https://podcasts.google.com/feed/aHR0cHM6Ly9mcm9tc2NyYXRjaC5sZXBvZGNhc3QuZnIvcnNz?sa=X&ved=0CBoQ27cFahcKEwjYq-LVj9r2AhUAAAAAHQAAAAAQLA" do %>
            <i class="fa-brands fa-google"></i>
        <% end %>
        <%= link_to "https://music.amazon.fr/podcasts/60f2acea-8f89-479d-b35c-ba0dd8e021b8/from-scratch" do %>
            <i class="fa-brands fa-amazon"></i>
        <% end %>   
    </div>