<div class="b-navbar">
  <div class="b-nav-title">
    <%= link_to root_path, class: "b-nav-logo" do  %>
      <p class="mg-0">FROM</p>
      <p class="yell-highlight mg-0">SCRATCH.</p>
    <% end %>
  </div>
  <ul class="b-nav-list mgb-0">
    <li><%= link_to "ÉPISODES", episodes_path, class: "b-nav-link" %></li>
    <li><%= link_to "ARTICLES", articles_path, class: "b-nav-link" %></li>
    <li><%= link_to "LE PROJET", project_path, class: "b-nav-link" %></li>
  </ul>
  <ul class="b-nav-rs mgb-0">
    <li>
      <%= link_to "https://www.linkedin.com/company/fromscratchlepodcast/" do %> 
        <i class="fa-brands fa-linkedin nav-icon"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.facebook.com/fromscratchlepodcast" do %> 
        <i class="fa-brands fa-facebook-f"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.instagram.com/fromscratchlepodcast/?hl=fr" do %> 
        <i class="fa-brands fa-instagram"></i>
      <% end %>
    </li>
  </ul>
</div>
