<%= render 'shared/header' %>

<div class="bloc">
    <% if current_user && current_user.admin %>
        <div class="admin-box">
            <%= link_to new_episode_path do  %>
                <button class="btn-admin">New episode</button>
            <% end %>
        </div>
    <% end %>
    <div class="center">
        <h2 class="maj">Découvrez les entrepreneurs from scratch.</h2>
        <% @episodes.reverse.each do |episode| %>
            <div class="episode-wrapper mt2">
                <div class="episode-card">
                    <p class="card-number">#<%= episode.number %></p>
                
                    <div class="episode-card-content-index">
                         <%= pic_placeholder(episode, 150, 150)  %>
                        <div>
                            <h4 class="bold"><%= episode.title %></h4>
                            <p><%= episode.desc.body.to_s.gsub!(@re, '').first(250) %>
                            <%="..." if episode.desc.body.to_s.gsub!(@re, '').length > 250 %></p>
                            <%= link_to episode_path(episode) do %> 
                                <p class="link-card">découvrez l'épisode</p>
                            <% end %>
                        </div>
                        <div class="card-index-title">
                            <p class="bold"><%= episode.guest.upcase %></p>
                            <p><%= episode.company %></p>
                        </div>
                        <div class="bloc-platf-index">
                            <%= link_to episode.url_spotify, class: "platform-logo" do %>
                                <i class="fa-brands fa-spotify platform-logo"></i>
                            <% end %>
                            <%= link_to episode.url_apple, class: "" do %>
                                <i class="fa-brands fa-apple"></i>
                            <% end %>
                            <%= link_to episode.url_deezer, class: "" do %>
                                <i class="fa-brands fa-deezer"></i>
                            <% end %>
                            <%= link_to episode.url_google, class: "" do %>
                                <i class="fa-brands fa-google"></i>
                            <% end %>
                            <%= link_to episode.url_amazon, class: "" do %>
                                <i class="fa-brands fa-amazon"></i>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <% if current_user && current_user.admin %>
                <div class="admin-box">
                    <%= link_to edit_episode_path(episode) do  %>
                        <button class="btn-admin">Edit</button>
                    <% end %>
                    <%= link_to episode_path(episode), method: :delete, data: { confirm: "Êtes vous sûr de vouloir effacer cet épisode ?"} do %>
                        <button class="btn-admin">Delete</button>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>
</div>