
<div class="wrapper">
    <div class="bg-header">
        <div class="section-wrapper">
            <div class="header-text">
                <h1>FROM SCRATCH.</h1>
                <h4>Par Thibault Fourcade</h4>
                <br>
                <p>Le podcast des <strong>entrepreneurs</strong> aguerris qui vous dévoile ce qu'ils referaient ou non s'ils devaient recommencer <strong>from scratch</strong>.</p>
                <br>
                <%= link_to "https://open.spotify.com/show/3XZcpjTULPMVmZNrAZ5MwR" do %>
                    <button class="yel-button">▶ Écouter</button>
                <% end %>
            </div>
            <div class="header-pic">
                <%= image_tag "Ship-cropped.png", alt: "fusée", class: "header-pic" %>
            </div>
        </div>

        <div class="wave1">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>

    </div>
    <div class="bloc-platf mt1">
        <p>S'abonner au podcast <i class="fa-solid fa-arrow-right-long"></i></p>
        <%= link_to "https://open.spotify.com/show/3XZcpjTULPMVmZNrAZ5MwR" do %>
            <i class="fa-brands fa-spotify"></i>
        <% end %>
        <%= link_to "https://podcasts.apple.com/us/podcast/from-scratch/id1590667398" do %>
            <i class="fa-brands fa-apple"></i>
        <% end %>
        <%= link_to "https://www.deezer.com/fr/show/3200822" do %>
            <i class="fa-brands fa-deezer"></i>
        <% end %>
        <%= link_to "https://podcasts.google.com/feed/aHR0cHM6Ly9mcm9tc2NyYXRjaC5sZXBvZGNhc3QuZnIvcnNz?sa=X&ved=0CBoQ27cFahcKEwjYq-LVj9r2AhUAAAAAHQAAAAAQLA" do %>
            <i class="fa-brands fa-google"></i>
        <% end %>
        <%= link_to "https://music.amazon.fr/podcasts/60f2acea-8f89-479d-b35c-ba0dd8e021b8/from-scratch" do %>
            <i class="fa-brands fa-amazon"></i>
        <% end %>   
    </div>
    

    <div class="newsletter">
        <div class="text-nl">
            <p>Un seul mail par mois. Le dimanche matin.</p>
            <p>Des actualités sur l'écosystème de l'entrepreneuriat</p>
            
        </div>
        <div class="center mt1">
            <form>
                <input type="email" class="form-nl" placeholder="Votre adresse e-mail">
                <input type="submit" value="Envoyer" class="form-button">
            </form>
        </div>
    </div>


    <div class="bg-episode">
        <div class="wave2">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
        

        <div>
            <p class="ep-vrac">Entreprendre</p>
            <h3 class="white title">DERNIER ÉPISODE</h3>
            <div class="episode-wrapper">
                <div class="episode-card">
                    <%= link_to episode_path(@lastEpisode) do %>
                        <div class="episode-card-content">
                            <div class="episode-card-text">
                                <strong><p class="mb7"><%= @lastEpisode.date %></p></strong>
                                <h4>#<%= @lastEpisode.number %></h4>
                                <h4 class="blue mb7"><%= @lastEpisode.guest.upcase %></h4>
                                <p class="mb7"><%= @lastEpisode.company %></p>
                                <p><%= @lastEpisode.title %></p>
                                <p><%= @lastEpisode.desc.first(150)...  %></p>
                            </div>
                            <img src="https://source.unsplash.com/random" alt="#" class="episode-card-pic"> 
                        </div>
                    <% end %>
                    <div class="bloc-platf-card">
                        <p class="black">Écouter l'épisode  <i class="fa-solid fa-arrow-right-long"></i></p>
                        <%= link_to @lastEpisode.url_spotify, class: "platform-logo" do %>
                            <i class="fa-brands fa-spotify platform-logo"></i>
                        <% end %>
                        <%= link_to @lastEpisode.url_apple, class: "" do %>
                            <i class="fa-brands fa-apple"></i>
                        <% end %>
                        <%= link_to @lastEpisode.url_deezer, class: "" do %>
                            <i class="fa-brands fa-deezer"></i>
                        <% end %>
                        <%= link_to @lastEpisode.url_google, class: "" do %>
                            <i class="fa-brands fa-google"></i>
                        <% end %>
                        <%= link_to @lastEpisode.url_amazon, class: "" do %>
                            <i class="fa-brands fa-amazon"></i>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="wave3">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>

    <div class="bloc">
        <p class="c-vrac">Abonne-toi</p>
        <h3 class="title">DÉCOUVREZ LES ENTREPRENEURS FROM SCRATCH.</h3>
        <div class="carousel">
        <button class="carousel-button prev"><i class="fa-solid fa-arrow-left-long"></i></button> 
        <button class="carousel-button next"><i class="fa-solid fa-arrow-right-long"></i></button> 
            <ul>
                <% @episodes.each do |episode| %>
                    <li><div class="carousel-card">
                        <strong><p class="mb7">#<%= episode.number %></p></strong>

                        <div>
                            <%= link_to episode_path(episode), class: "cc-content" do %>
                                <img src="https://source.unsplash.com/random" alt="#" class="carousel-card-pic mb7"> 
                                <strong><p><%= episode.guest %></p></strong>
                                <p><%= episode.company %></p>
                            <% end %>
                            
                            <div class="bloc-platf-cc">
                                <%= link_to episode.url_spotify, class: "platform-logo" do %>
                                    <i class="fa-brands fa-spotify platform-logo"></i>
                                <% end %>
                                <%= link_to episode.url_apple do %>
                                    <i class="fa-brands fa-apple"></i>
                                <% end %>
                                <%= link_to episode.url_deezer do %>
                                    <i class="fa-brands fa-deezer"></i>
                                <% end %>
                                <%= link_to episode.url_google do %>
                                    <i class="fa-brands fa-google"></i>
                                <% end %>
                                <%= link_to episode.url_amazon do %>
                                    <i class="fa-brands fa-amazon"></i>
                                <% end %>
                            </div>
                        </div>
                    </div></li>
                <% end %>
            </ul>
        </div>
        <div class="center">
            <%= link_to "DÉCOUVREZ TOUS LES ÉPISODES", episodes_path, class: "episodes-link" %>
        </div>
    </div>

    <div class="bg-blog">
        <div class="wave4">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
        <div class="bloc">
            <p class="b-vrac">@fromscratchlepodcast</p>
            <div class="center">
                <h3 class="title white">LES DERNIERS ARTICLES</h3>
            </div>
            <div class="articles-list">
                <% @articles.each do |article| %>
                    <%= link_to article_path(article) do %>
                    <div class="article-card">
                        <div class="preview-box">
                            <p  class="article-preview"><%= article.content.first(120) %>...</p>
                        </div>
                        <div class="title-box">
                            <p class="article-title"><%= article.title%></p>
                        </div>
                    </div>
                    <% end %>
                <% end %>
            </div>
            <div class="center">
                <%= link_to "DÉCOUVREZ TOUS LES ARTICLES", articles_path, class: "articles-link" %>
            </div>

        </div>
        <div class="wave5">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
    </div>

    <div class="bloc">
        <div class="center">
            <h3><i class="fa-brands fa-instagram"></i> FROMSCRATCHLEPODCAST</h3>
        </div>
        <div class="social-wall">
            TO DO
        </div>
    </div>

</div>